[submodule "browser_environment/forum-DOM-proj"]
	path = browser_environment/forum-DOM-proj
	url = https://github.com/daGoodenough/forum-DOM-proj.git
[submodule "browser_environment/music-player"]
	path = browser_environment/music-player
	url = https://github.com/daGoodenough/music-player.git
[submodule "javascript-fundamentals/towers-of-hanoi"]
	path = javascript-fundamentals/towers-of-hanoi
	url = https://github.com/daGoodenough/towers-of-hanoi.git
[submodule "javascript-fundamentals/library-modules-parsity-proj"]
	path = javascript-fundamentals/library-modules-parsity-proj
	url = https://github.com/daGoodenough/library-modules-parsity-proj.git
[submodule "browser_environment/project-reddit"]
	path = browser_environment/project-reddit
	url = https://github.com/daGoodenough/project-reddit.git
[submodule "json-and-apis/bookshelf"]
	path = json-and-apis/bookshelf
	url = https://github.com/daGoodenough/bookshelf.git
[submodule "json-and-apis/github-api-search"]
	path = json-and-apis/github-api-search
	url = https://github.com/daGoodenough/github-api-search.git
[submodule "react/react-reddit"]
	path = react/react-reddit
	url = https://github.com/daGoodenough/react-reddit.git
[submodule "react/hooks-fun"]
	path = react/hooks-fun
	url = https://github.com/daGoodenough/hooks-fun.git
[submodule "react/contact-list"]
	path = react/contact-list
	url = https://github.com/daGoodenough/contact-list.git
[submodule "react/react-tube"]
	path = react/react-tube
	url = https://github.com/daGoodenough/react-tube.git
[submodule "react/react-router-fun"]
	path = react/react-router-fun
	url = https://github.com/daGoodenough/react-router-fun.git
[submodule "react/re-re-reddit"]
	path = react/re-re-reddit
	url = https://github.com/daGoodenough/re-re-reddit.git
